flake8==4.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0

# Dependencias do pytest
pytest==7.1.2
attrs==21.4.0
packaging==21.3
py==1.11.2
tomli==2.0.1
atomicwrites==1.4.0
pluggy==1.0.0
colorama==0.4.5
iniconfig==1.1.1
pyparsing==3.0.9
-r requirements.txt